<h2 class="text-center"> QR generation </h2>

<div class="text-center jumbotron">
    @using (Html.BeginForm("QrGeneration", "Home"))
    {

        <div style="margin:auto; width:25%;">
            <input class="text-center form-control" type="text" name="productName" placeholder="nom de produit" class="form-control"><br />
            <input type="number" name="batchSize" placeholder="nombre de Qr à générer" class="form-control">
        </div>
        <hr>

        <input type="submit" value="Générer le lot" class="btn btn-primary" />
    }


</div>
